body{
background-color: #e5e5f7;
opacity: 0.8;
background-image: radial-gradient(#ed1919 0.5px, #e5e5f7 0.5px);
background-size: 10px 10px;
}

.grow { transition: all .5s ease-in-out; }
.grow:hover { transform: scale(1.1); }




footer{
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#103723;
    color: whitesmoke;

}

footer p {
    margin: 0;
}

.RegisterPage{

text-align: center;
font-size:25px;

}

.RegisterPage input{

    border-color:#10d49c ;
    border-radius: 30px;

}
.RegisterPage input:hover{

    border-width: 4px;

}
.RegisterPage h2{

    color: rgb(150, 128, 2);

}

.RegisterPage footer{

 position: fixed;
  bottom: 0;
  

}