body {
    opacity: 0.9;
    /* background-image: radial-gradient(#ed1919 0.5px, #e5e5f7 0.5px);  */
    /* background-size: 10px 10px;   */
    background-image: url('./images/background.jpg');
}


.grow {
    transition: all .5s ease-in-out;
}
.grow:hover {
    transform: scale(1.1);
}


footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(13, 73, 93);
    color: whitesmoke;
}

footer p {
    margin: 0;
}

.FormPage {
    text-align: center;
}



.FormPage input {

    border-color: #10d49c;
    border-radius: 30px;
    width: 300px;
    margin-left: 12.5%;
}

.FormPage button{

    width: 150px;
    margin-left: 31%;

}

.FormPage p {
    font-size: 25px;
}

.FormPage h2 {

    color: rgb(150, 128, 2);

}

.FormPage a {

    color: #10d49c;
    text-decoration: none;
}

.FormPage h5 {

    color: #ed1919;



}

.FormPage footer {

    position: fixed;
    bottom: 0;

}

.courseCard {
    text-align: center;
}

.courseCard img {

    width: 799px;

}