body{
background-color: #282828; 
opacity: 0.8;
background-image: radial-gradient(#ed1919 0.5px, #e5e5f7 0.5px); /*#ed1919 #e5e5f7*/
background-size: 10px 10px;
}

.grow { transition: all .5s ease-in-out; }
.grow:hover { transform: scale(1.1); }




footer{
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#103723;
    color: whitesmoke;

}

footer p {
    margin: 0;
}

.FormPage{

text-align: center;
font-size:25px;

}

.FormPage input{

    border-color:#10d49c ;
    border-radius: 30px;

}

.FormPage h2{

    color: rgb(150, 128, 2);

}

.FormPage a{

    color: #10d49c;
    text-decoration: none;
}
.FormPage h5{

    color: #ed1919;
   


}

.FormPage footer{

 position: fixed;
 bottom: 0;
  
}

.courseCard{
    text-align: center;
}
.courseCard img{

    width: 799px;

}